.App {
  display: grid;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
h2{
  text-align: center;
}
.screen{
	border: 2px solid #000;
	background-color:#ffcccc;
  height:600px;
  width: 50%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-left: 400px;
	border-radius: 5px 5px 0 0;
	box-shadow: 10px 10px 8px #888888;
}
.App-header {
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}


